[Desktop Entry]
Version=1.0
Type=Application
Name=WebTest
Comment=
Exec=/headless/Desktop/automation/Launchers/Launcher_Web.sh
Icon=/headless/Desktop/automation/.icons/web.png
Path=
Terminal=true
StartupNotify=true
