# Note: It requires docker-compose 1.6.0+
#
# Usage: docker-compose up -d
version: '2'

services:
  # soTesty Development Docker
  soride:
    image: sodocky-master
    privileged: true
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - ../../40_MY_WORK:/headless/Desktop/40_MY_WORK
      - /dev/shm:/dev/shm
    environment:
      - CONNECT_TO_GRID=True
    ports:
      - 4723:4723
      - 5901:5901
      - 6902:6901
      - 4444:4444
